{% extends 'base.html' %}

{% block content %}

<h1>phonebook</h1>
<form action="" method="POST">
    {{form.csrf_token}}
    <div class="form-group"> 
        <fieldset>
            {{form.phonenumber.label}}
            {{form.phonenumber(class='form-control', placeholder='Phonenumber')}}
        </feildset>
        <fieldset>
            {{form.confirm_phonenumber.label}}t
            {{form.confirm_phonenumber(class='form-control', placeholder='name')}}
        </feildset>
        {{ form.submit(class='btn btn-primary')}}
    </div>
</form>

{% endblock content %}